 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 646px;
}

.u-section-1 .u-text-1 {
  margin: 114px 39px 0 17px;
}

.u-section-1 .u-text-2 {
  background-image: none;
  margin: 21px 75px 60px 21px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 977px;
}

.u-section-2 .u-image-1 {
  width: 1107px;
  height: 860px;
  margin: 28px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-2 .u-image-1 {
    inset: auto;
    width: 940px;
    height: 730px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 559px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 419px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 264px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 894px;
}

.u-section-3 .u-text-1 {
  margin: 108px 662px 0 17px;
}

.u-section-3 .u-text-2 {
  margin: 52px 16px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  letter-spacing: 0px;
  margin: 4px auto 0 358px;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: -25px 790px 60px 16px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 479px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 158px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 606px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 259px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 386px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 79px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 206px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 6px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 840px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: -12px 320px 0 306px;
}

.u-section-4 .u-video-1 {
  width: 766px;
  height: 520px;
  margin: 22px auto 60px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 206px;
    margin-right: 220px;
    width: 514px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 96px;
    margin-right: 110px;
  }

  .u-section-4 .u-video-1 {
    width: 720px;
    height: 489px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 20px;
  }

  .u-section-4 .u-video-1 {
    width: 540px;
    height: 367px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
    height: 231px;
  }
}